* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-view .explore div, .mobile-view .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #0B0D17;
  color: white;
  height: 100vh;
}

figure {
  margin-left: 3rem;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}

.desktop-view {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #0B0D17), color-stop(#979797), color-stop(90%, #0B0D17));
  background-image: linear-gradient(to right, #0B0D17 60%, #979797, #0B0D17 90%);
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.desktop-view ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
}
.desktop-view ul li {
  margin-right: 2rem;
}

.mobile-menu-view {
  display: none;
}

@media only screen and (max-width: 622px) {
  .desktop-view {
    display: none;
  }

  .mobile-menu-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
  }
  .mobile-menu-view div {
    margin-right: 3rem;
  }
  .mobile-menu-view div ul {
    position: fixed;
    right: 0px;
    top: 140px;
    height: 60vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding: 1rem;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .mobile-menu-view div ul li {
    margin-bottom: 2rem;
  }

  .slide {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    background-color: purple;
  }
}
main {
  overflow: hidden;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}

@media only screen and (min-width: 817px) {
  .space {
    width: 20rem;
    position: absolute;
    bottom: 20%;
    left: 10%;
  }

  .explore {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
}
.mobile-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80vh;
}
.mobile-view .space {
  margin: 4%;
}
.mobile-view .space h1 {
  margin-top: 4%;
  text-align: center;
}
.mobile-view .space h2 {
  text-align: center;
}
.mobile-view .space p {
  margin-top: 4%;
  text-align: center;
}
.mobile-view .explore {
  width: 15rem;
  height: 15rem;
  background-color: rgba(151, 151, 151, 0.2);
  border-radius: 50%;
}
.mobile-view .explore div {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  color: black;
}
/*# sourceMappingURL=home.css.map */